<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <base href="/JTDFROTAS/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>*@
    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous">
        </script>*@

    <title>Angular</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular-main-scripts")
    @Styles.Render("~/Content/css")
</head>
<body ng-app="jtdFrotas">
    <div class="container body-content" ng-controller='mainController'>
        @RenderBody()
    </div>
</body>
</html>
