<div class="d-flex justify-content-between row flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3 class="col-sm-8 font-weight-light">Viagens</h3>
    <div class="btn-toolbar col-xs-4">
        <div class="btn-block">
            <button type="button"
                    class="
                       btn pmd-btn-outline btn-sm pmd-btn-raised
                       btn-default"
                    ng-click="loadTravel(0)">
                Nova Viagem
            </button>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover table-striped table-sm table-bordered">
        <thead class="thead-dark">
            <tr class="text-center">
                <th>#</th>
                <th>Cliente</th>
                <th>De</th>
                <th>Para</th>
                <th>Distancia</th>
                <th>Duração</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="travels.length > 0" ng-repeat="travel in travels" class="text-center">
                <td ng-click="loadTravel(travel.Id)"><a href="javascript:">{{travel.Id}}</a></td>
                <td>{{travel.Client}}</td>
                <td>{{travel.Origin}}</td>
                <td>{{travel.Destiny}}</td>
                <td>{{travel.TotalKmStr}}</td>
                <td>{{travel.DurationStr}}</td>
            </tr>
            <tr>
                <td ng-if="travels.length == 0" class="text-center" colspan="6">Não existem dados...</td>
            </tr>
        </tbody>
    </table>
</div>
