<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav class="navbar navbar-dark flex-md-nowrap fixed-top bg-dark pt-0 pb-0 shadow">
        <a class="navbar-brand mr-0" href="#">JTDFrotas</a>
        <ul class="navbar nav">
            <li class="nav-item">
                <a href="#" class="nav-link">content</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="bg-light sidebar">
                <div class="sidebar-sticky"></div>
            </nav>
        </div>
    </div>
</body>
</html>
