<div
    class="d-flex justify-content-between row flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3 class="col-sm-8 font-weight-light">Clientes</h3>
    <div class="btn-toolbar col-sm-4">
        <div class="btn-group btn-block">
            <button type="button" class="sticky-top font-weight-light
                       btn pmd-btn-outline btn-sm pmd-btn-raised
                     btn-default" ng-click="openModalCnpj()">
                Novo c/ CPF
            </button>
            <button type="button" class="sticky-top font-weight-light
                       btn pmd-btn-outline btn-sm pmd-btn-raised
                     btn-default" ng-click="openModalEdit()">
                Novo manual
            </button>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover table-striped table-sm table-bordered">
        <thead class="thead-dark">
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Cidade</th>
                <th scope="col">Contato</th>
                <th scope="col">Telefone</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="guests.length > 0" ng-repeat="guest in guests" class="text-center">
                <td scope="row" ng-click="teste(guest.Name)"><a href="#guests">{{guest.Id}}</a></td>
                <td>{{guest.Name}}</td>
                <td>{{guest.Cpf}}</td>
                <td>{{guest.City}}</td>
                <td>{{guest.ContactName}}</td>
                <td>{{guest.Phone}}</td>
            </tr>
            <tr>
                <td ng-if="companies.length == 0" class="text-center" colspan="6">Não existem dados...</td>
            </tr>
        </tbody>
    </table>
</div>