<h3>Clientes</h3>
<div class="table-responsive">
    <table class="table table-hover table-striped table-sm table-bordered">
        <thead class="thead-dark">
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Cidade</th>
                <th scope="col">Contato</th>
                <th scope="col">Telefone</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="guests.length > 0" ng-repeat="guest in guests" class="text-center">
                <td scope="row" ng-click="teste(guest.Name)"><a href="#guests">{{guest.Id}}</a></td>
                <td>{{guest.Name}}</td>
                <td>{{guest.Cpf}}</td>
                <td>{{guest.City}}</td>
                <td>{{guest.ContactName}}</td>
                <td>{{guest.Phone}}</td>
            </tr>
            <tr>
                <td ng-if="companies.length == 0" class="text-center" colspan="6">Não existem dados...</td>
            </tr>
        </tbody>
    </table>
</div>